button{
  background-color: black;
  border: none;
  color: white;
  padding: 10px 17px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}
.isToggled{
  background-color: rgb(230,230,230);
  color: black;
}